<tr id=<%= @comment.id %> >
    <td><%= @comment.detalle %></td>
    <td class="text-right" style="padding-right: 10rem;">$<%= number_with_delimiter(@comment.precio, :delimiter => '.') %></td>
    <td align="center"><%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, @comment, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
</tr>