<div class="container">
    <div class="col-md-8 col-xs-12">

        <h1>Editing Work</h1>

        <%= render 'form' %>

        <%= link_to 'Show', @work %> |
        <%= link_to 'Back', works_path %>
    </div>
</div>
