<div class="container">
    <div class="col-md-6 col-xs-12">        
        <h1>Editar Cliente</h1>

        <%= render 'form' %>

        <%= link_to 'Volver a clientes', clients_path, class: "btn btn btn-lg btn-danger", id:"nuevocliente" %>
        </div>

    </div>
</div>