<div class="container">
    <div class="col-md-7 col-xs-12">
        <h1>Editar Producto</h1>


        <%= render 'form' %>
        <%= link_to 'Volver', :back, class: "btn btn btn-lg btn-danger", id:"nuevocliente" %>
        </div>
    </div>
</div>
