<div class="container">
    <div class="col-md-8 col-xs-12">
        <h1>Editar vehículo</h1>

        <%= render 'form' %>

        <%= link_to 'Volver', :back, class: "btn btn btn-lg btn-danger", id:"nuevocliente" %>
        </div>
    </div>
</div>
